.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 ratio */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

