.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, rgb(20, 93, 167), rgb(211, 227, 243));
  color: white;
  padding: 60px 20px;
  flex-wrap: wrap;
  text-align: center;
}

.stat-card {
  flex: 1;
  min-width: 200px;
  margin: 15px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: scale(1.1);
}

.stat-card h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 1.2rem;
  font-weight: 500;
}
