.hero-message {
  position: relative;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1522199710521-72d69614c702")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

/* Overlay box */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 60px;
  border-radius: 10px;
}

.slide-text {
  font-size: 3rem;
  font-weight: 700;
  animation: fade 0.8s ease-in-out;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 🔥 Curve moved to TOP + Left-to-Right Flip */

.custom-shape-divider-top-1763123669 {
  position: absolute;
  top: 0;
  left: 0x;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1763123669 svg {
  position: relative;
  display: block;
  width: calc(170% + 1.3px);
  height: 170px;
  transform: scaleX(-1) scaleY(-1);

}


.custom-shape-divider-top-1763123669 .shape-fill {
  fill: #ffffff;
}
